<%= render partial: 'books/list', locals:{ book: @book, user: @user} %>
<h2>Users</h2>
<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
      <tr>
          <th><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></th>
          <th><%= user.name %></th>
          <th><%= link_to "Show",user_path(user.id) %></th>
      </tr>
      <% end %>
  </tbody>
</table>
</div>
