<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          <th>投稿ユーザー画像</th>
          <th>投稿タイトル</th>
          <th>投稿本文</th>
      </tr>

  </tbody>
</table>